/*style reset*/
body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,form,input,textarea,select{padding:0; margin:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;color:#666666;font:12px/1em;"微软雅黑"color:#666666;}
a:hover{text-decoration:none;}
i{font-style: normal;}
.clearfix{*zoom:1;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}

/*@font-face{
	font-family:'abc';
	src:url(../font/FZLTHYS-GB18030.ttf);
}
*/
body{font:12px/1em;"微软雅黑"color:#666666; /*font-family:'abc';*/}