.top{
    min-width:1240px;
    height:100px;
    margin:0 auto;
    background:#eeeeee;
}
.top a{
    display:block;
    width:1240px;
    height:100px;
    margin:0 auto;
    position:relative;
}
.top a span{
    position:absolute;right:10px;top:5px;
    width:20px;
    height:20px;
    border:1px solid #ccc;
    border-radius:2px;
    background:#fff;
    cursor:pointer;
    font-size:16px;
    line-height:20px;
    text-align:center;
    color:#ccc;
}
/*top*/
.header{
    min-width:1240px;
    height:70px;
    border-bottom:2px solid #46c832;
}
.header_m{
    width:1240px;
    height:100%;
    margin:0 auto;
}
.header_m .h_logo1{
    margin-top:24px;
    float:left;
}
.header_m .h_logo2{
    float:left;
    margin:14px 0 0 28px;
}
.header_m .search{
    width:500px;
    height:38px;
    float:left;
    margin:18px 0 0 29px;
}
.header_m .search input{
    width:449px;
    height:100%;
    background:#eeeeee;
    border:none;
    outline: none;
    padding-left:13px;
    color:#666666;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    float:left;
}
.header_m .search a{
    float:left;
    width:38px;
    height:100%;
    background:#46c832;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size:30px;
    color:#fff;
    line-height:38px;
    text-align:center;
    vertical-align:top;
}
.header_m ul{
    float:right;
}
.header_m ul li{
    float:left;
    margin-left:22px;
    margin-top:24px;
    position:relative;
}
.header_m ul li div{
    width:330px;
    height:260px;
    border:1px solid #46c832;
    border-radius:2px;
    background:#fff;
    position:absolute;left:-130px;top:35px;
    z-index:3;
    display:none;
}
.header_m ul li a{
    display:block;
    color:#666666;
    line-height:26px;
    height:26px;
}
.header_m ul li a span{
    color:#46c832;
    font-size:26px;
}
.header_m ul li a .active{
    color:green;
}
.header_m ul li a i{
    margin-left:5px;
    vertical-align:top;
}
.header_m ul .li_last{
    margin-top:18px;
}
.header_m ul .li_last i{
    float:left;
    margin-top:6px;
    color:#46c832;
}
.header_m ul .li_last span{
    float:left;
    width:38px;
    height:38px;
    background:url("../images/header3.jpg") no-repeat;
}
/*header*/
.nav{
    min-width:1240px;
    height:43px;
}
.nav div{
    width:1240px;
    height:100%;
    line-height:43px;
    margin:0 auto;
    /*overflow:hidden;*/
}
.nav a{
    color:#666666;
}
.nav ul{
    float:left;
}
.nav ul li{
    padding:0 28px;
    float:left;
    margin-left:-28px;
    position:relative;
}
.nav ul .nav_color a{
    color:#46c832;
}
.nav ul li .on{
    display:block;
}
.nav ul li p{
    width:100%;
    position:absolute;left:0;top:43px;
    z-index:5;
    background:#fff;
    border-top:2px solid #46c832;
    margin-top:-2px;
    padding:5px 0;
    display:none;
}
.nav ul li p span{
    margin:0 5px;
    display:block;
    height:30px;
    line-height:30px;
}
.nav dl{
    float:right;
}
.nav dl dd{
    float:left;
    margin-left:20px;
}
.nav dl .on a{
    color:#46c832;
}
/*nav*/
.banner{
    min-width:1240px;
    background:#222222;
}
.banner_m{
    width:1240px;
    margin:0 auto;
    position:relative;
}
.banner_m span{
    position:absolute;left:0;top:188px;
    width:44px;
    height:80px;
    z-index:3;
    background:url("../images/boult.png") 0 0 no-repeat;
}
.banner_m i{
    position:absolute;right:0;top:188px;
    width:44px;
    height:80px;
    z-index:3;
    background:url("../images/boult.png") 0 -160px no-repeat;
}
.banner_m ul li{
    float:left;
    position:relative;
}
.banner_middle{
    margin:0 3px 3px 3px;
}
.banner_m .banner_sl{
    position:absolute;left:458px;top:229px;
}
.banner_m .banner_sr{
    position:absolute;left:703px;top:229px;
}
.banner_m ul li a{
    width:100%;
    height:100%;
    position:absolute;left:0;top:0;
    background:rgba(0,0,0,0.5);
    font-size:25px;
    color:#fff;
    line-height:100%;
    text-align:center;
    display:none;
}
.banner_m ul li a img{
    position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-30px;
}
/*banner*/
.content{
    min-width:1240px;
    background:#f4f4f4;
    padding-bottom:500px;
}
/*content*/
.hot{
    width:1240px;
    margin:0 auto;
    padding-top:53px;
}
.hot_l{
    width:1000px;
    float:left;
}
.hot_l dt h2{
    font-size:24px;
    line-height:24px;
    margin-bottom:14px;
}
.hot_l .hot_dd_first{
    width:380px;
    background:#fff;
    border-bottom:1px dotted #ccc;
    position:relative;
}
.hot_l .hot_dd_first_f{
    line-height:34px;
    color:#444444;
    font-size:12px;
}
.hot_l .hot_dd_first p{
    margin-bottom:18px;
    color:#888888;
}

.hot_l .hot_dd_first div{
    position:relative;
}
.hot_l .hot_dd_first div a{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
}
.hot_l .hot_dd_first .on a{
    display:block;
}
.hot_l .hot_dd_first div a img{
    position:absolute;left:50%;top:50%;
    margin-left:-30px;
    margin-top:-30px;
}

.hot_l dd{
    float:left;
    width:180px;
    background:#fff;
    border-bottom:1px dotted #ccc;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
}
.hot_l .hot_dd_f{
    line-height:32px;
    color:#444444;
    font-size:12px;
}
.hot_l dd div{
    position:relative;
}
.hot_l dd div a{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
}
.hot_l dd .on a{
    display:block;
}
.hot_l dd div a img{
    position:absolute;left:50%;top:50%;
    margin-left:-30px;
    margin-top:-30px;
}
.hot_l dd div span{
    width:100%;
    position:absolute;left:0;bottom:0;
}
.hot_l dd div span i{
    background:#000;
    opacity:0.7;
    filter:alpha(opacity:70);
    width:100%;
    height:100%;
    position:absolute;left:0;bottom:0;
}
.hot_l dd div span em{
    line-height:22px;
    color:#fff;
    position:relative;
    z-index:3;
}
/*hot_l*/
.hot_r{
    width:240px;
    float:left;
}
.hot_r h2{
    font-size:24px;
    line-height:24px;
    margin-bottom:14px;
}
.hot_r_c div{
    border-top:1px solid #666;
}
.hot_r_c div span{
    float:left;
    width:48px;
    height:30px;
    text-align:center;
    line-height:30px;
    cursor:pointer;
    border-top:1px solid transparent;
    margin-top:-1px;
    color:#333333;
}
.hot_r_c div .on{
    border-top:1px solid #46c832;
    background:#daf4d6;
    color:#46c832;
}
.hot_r_c dl{
    display:none;
}
.hot_r_c .active{
    display:block;
}
.hot_r_c dl dt{
    position:relative;
}
.hot_r_c dl dt img{
    width:240px;
    height:120px;
}
.hot_r_c dl dt a{
    width:100%;
    height:100%;
}
.hot_r_c dl dt span{
    width:100%;
    position:absolute;left:0;bottom:0;
}
.hot_r_c dl dt span i{
    position:absolute;left:0;bottom:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity:50);
}
.hot_r_c dl dt span em{
    position:relative;
    line-height:20px;
    color:#fff;
}
.hot_r_c dd{
    line-height:32px;
}
.hot_r_c dd span{
    float:left;
    margin:0 11px;
    color:#999999;
}
.hot_r_c dd a{
    color:#333333;
}
.hot_r_c dd i{
    float:right;
    margin-right:10px;
    color:#999999;
}
/*hot*/
.teleplay{
    width:1240px;
    margin:0 auto;
    padding-top:15px;
}
.teleplay_l{
    width:1000px;
    float:left;
}
.teleplay_l_t{
    margin-bottom:12px;
}
.teleplay_l_t h2{
    font-size:24px;
    line-height:24px;
    float:left;
}
.teleplay_l_t ul{
    float:left;
}
.teleplay_l_t ul li{
    float:left;
    margin-top:12px;
}
.teleplay_l_t ul .on a{
    color:#46c832;
}
.teleplay_l_t ul li a{
    margin:0 5px 0 6px;
    color:#666666;
}
.teleplay_l_t div{
    float:right;
    margin-right:20px;
    margin-top:2px;
}
.teleplay_l_t div input{
    width:38px;
    height:22px;
    border:1px solid #e4e4e4;
    color:#b8b8b8;
    outline:none;
    background:#fff;
}
.teleplay_l_t div span{
    color:#999999;
}
.teleplay_l_b li{
    width:180px;
    height:310px;
    float:left;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
}
.teleplay_l_b li p{
    height:100%;
    background:#fff;
}
.teleplay_l_b .teleplay_a{
    display:block;
    position:relative;
}
.teleplay_l_b .teleplay_a span{
    width:100%;
    position:absolute;left:0;bottom:0;
}
.teleplay_l_b .teleplay_a span i{
    width:100%;
    height:100%;
    opacity:0.7;
    background:#000;
    filter: alpha(opacity:70);
    position:absolute;left:0;bottom:0;
}
.teleplay_l_b .teleplay_a span em{
    width:100%;
    position:relative;
    color:#FFF;
    line-height:24px;
}
.teleplay_l_b .teleplay_s1{

    display:block;
    margin:17px 0 10px 10px;
    color:#333333;
}
.teleplay_l_b .teleplay_s2{
    display:block;
    color:#999999;
    margin-left:10px;
}
.teleplay_show{
    display:none;
}
.teleplay_l_b .teleplay_d{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
}
.teleplay_a1 span{
    width:100%;
    height:246px;
    position:absolute;left:0;top:0;
    opacity:0.7;
    filter:alpha(opacity:70);
    background:#000;
}
.teleplay_a1 dl{
    width:100%;
    height:246px;
    position:absolute;left:0;top:0;
    color:#fff;
}
.teleplay_a1 dt div{
    margin:30px 0 30px 30px;
    color:#46c832;
}
.teleplay_a1 dt em{
    display:block;
    margin-left:30px;
    margin-bottom:10px;
}
.teleplay_a1 dt em i{
    float:left;
    width:20px;
    height:20px;
    background:url("../images/teleplay2.png") 0 -34px no-repeat ;
}
.teleplay_a1 dt em .teleplay_i{
    background:url("../images/teleplay2.png") 0 0  no-repeat ;
}
.teleplay_a1 dt em .teleplay_i_f{
    background:none;
    color:#46c832;
    font-size:18px;
}
.teleplay_a1 dd{
    margin-left:30px;
    line-height:25px;
    color:#ccc;
}
.teleplay_a2{
    width:100%;
    height:64px;
    line-height:64px;
    position:absolute;left:0;bottom:0;
    background:#46c832;
    color:#fff;
    font-size:20px;
}
.teleplay_a2 img{
    margin-left:30px;
    margin-top:19px;
}
.teleplay_r_b{
    width:240px;
    float:left;
    padding-bottom:12px;
}
.teleplay_r_h{
    margin:21px 0 17px 0;
}
.teleplay_r_h dt{
    float:left;
    font-size:20px;
    line-height:20px;
}
.teleplay_r_h dd{
    float:left;
    margin-top:8px;
}
.teleplay_r_h dd a{
    color:#333333;
}
.teleplay_r_h .on a{
    color:#46c832;
}
.teleplay_r_type{
    padding-left:10px;
    background:#fff;
}
.teleplay_r_type .teleplay_r_type_dt1{
    float:left;
    width:29px;
    margin-right:5px;
    line-height:31px;
    margin-bottom:30px;
}
.teleplay_r_type dt{
    float:left;
    width:29px;
    margin-right:5px;
    line-height:30px;
}
.teleplay_r_type dd{
    float:left;
    margin:0 7px;
    line-height:31px;
}
.teleplay_r_type dd a{
    color:#333;
}
.teleplay_r_type .on a{
    color:#46c832;
}
/*teleplay_r*/
.comment{
    padding-top:15px;
    width:1240px;
    margin:0 auto;
}
.comment_r{
    width:240px;
    float:left;
}
.comment_r_h{
    margin:0 0 14px 0;
}
.comment_r_h dt{
    float:left;
    font-size:20px;
    line-height:20px;
}
.comment_r_h dd{
    float:left;
    margin-top:8px;
}
.comment_r_h dd a{
    color:#333333;
}
.comment_r_h .on a{
    color:#46c832;
}
.comment_r_b{
    position:relative;
}
.comment_r_b li .comment_r_b_a{
    display:block;
    width:78px;
    height:34px;
    line-height:34px;
    padding-left:8px;
    border-left:2px solid transparent;
    color:#000000;
}

.comment_r_b li .on{
    background:#e3f7e0;
    border-left:2px solid #00CC33;
    color:#00CC33;
}
.comment_r_b .comment_r_b_a img{
    margin-top:10px;
    margin-right:3px;
}
.comment_r_b li dl{
    width:152px;
    height:136px;
    background:#e3f7e0;
    position:absolute;left:88px;top:0;
    display:none;
}
.comment_r_b li .active{
    display:block;
}
.comment_r_b li dl dd{
    line-height:34px;
    text-align:center;
}
.hot_l strong{
    position:absolute;left:0;top:0;
    width:59px;
    height:18px;
    background:url("../images/moive.png");
}
.show_l{
    width:1000px;
    float:left;
}
.show_l .show_dd_first{
    width:380px;
    background:#fff;
    border-bottom:1px dotted #ccc;
    position:relative;
}
.show_l .show_dd_first_f{
    line-height:34px;
    color:#444444;
    font-size:12px;
}
.show_l .show_dd_first p{
    margin-bottom:18px;
    color:#888888;
}

.show_l .show_dd_first div{
    position:relative;
}
.show_l .show_dd_first div a{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
}
.show_l .show_dd_first .on a{
    display:block;
}
.show_l .show_dd_first div a img{
    position:absolute;left:50%;top:50%;
    margin-left:-30px;
    margin-top:-30px;
}

.show_l dd{
    float:left;
    width:180px;
    background:#fff;
    border-bottom:1px dotted #ccc;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
}
.show_l .show_dd_f{
    line-height:32px;
    color:#444444;
    font-size:12px;
}
.show_l dd div{
    position:relative;
}
.show_l dd div a{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
}
.show_l dd .on a{
    display:block;
}
.show_l dd div a img{
    position:absolute;left:50%;top:50%;
    margin-left:-30px;
    margin-top:-30px;
}
.show_l dd div span{
    width:100%;
    position:absolute;left:0;bottom:0;
}
.show_l dd div span i{
    background:#000;
    opacity:0.7;
    filter:alpha(opacity:70);
    width:100%;
    height:100%;
    position:absolute;left:0;bottom:0;
}
.show_l dd div span em{
    line-height:22px;
    color:#fff;
    position:relative;
    z-index:3;
}
.show_r{
    width:240px;
    float:left;
}
.show_r dt{
    margin-bottom:20px;
}
.show_r dt h3{
    font-size:20px;
    line-height:20px;
}
.show_l dd p{
    margin-bottom:18px;
    color:#888888;
}
.show_r dd img{
    width:80px;
    height:80px;
    float:left;
}
.show_r dd div{
    width:130px;
    float:left;
    padding:9px;
}
.show_r dd div a{
    color:#333333;
    line-height:30px;
}
.show_r dd div p{
    color:#999999;
    line-height:20px;
}
.box{
    width:1000px;
}
.fun_l h2{
    font-weight:normal;
    float:left;
}
.fun_l a{
    float:left;
    margin-top:11px;
    color:#666;
}
.fun_r li{
    line-height:32px;
    margin-bottom:3px;
    background:#fff;
}
.fun_r li a{
    color:#333333;
}
.fun_r li span{
    float:left;
    width:15px;
    height:15px;
    margin:10px 5px 0 15px;
    background:url("../images/fun.png") no-repeat 0 0;
}
.ad{
    width:1240px;
    margin:0 auto;
    padding:20px 0;
}
.ad_l{
    margin-right:16px;
}
.update{
    width:1240px;
    margin:0 auto;
}
.update_l{
    float:left;
    width:980px;
    border-top:2px solid #666666;
    margin-bottom:10px;
}
.update_box{
    width:1000px;
}
.update_l dt{
    float:left;
    width:83px;
    height:39px;
    line-height:39px;
    font-size:16px;
    color:#000000;
    background:#f4f4f4;
    border-right:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}
.update_l dd{
    float:left;
    width:127px;
    height:39px;
    line-height:39px;
    text-align:center;
    font-size:16px;
    color:#000000;
    background:#fff;
    border-right:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}
.update_l dd a{
    color:#333333;
}
.update_l dd .active{
    color:#46c832;
}
.update_l .on{
    background:#dff3dc;
    border-top:2px solid #46c832;
    margin-top:-2px;
}
.update_l_b dl{
    display:none;
}
.update_l_b .show{
    display:block;
}
.update_r{
    width:240px;
    float:right;
}
.update_r dt{
    width:240px;
    float:left;
    font-size:19px;
    line-height:19px;
    margin-top:18px;
    margin-bottom:14px;
}
.update_r dd{
    width:115px;
    height:32px;
    line-height:32px;
    text-align:center;
    background:#afe097;
    float:left;
    margin:0 3px 3px 0;
}
.bottom{
    width:1240px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
.bottom h4{
margin-bottom:14px;
}
.bottom h4 span{
    float:left;
    line-height:24px;
    font-size:24px;
}
.bottom h4 a{
    float:left;
    color:#666666;
    margin-top:10px;
}
.bottom_c{
    width:1260px;
}

.bottom_c dd{
    float:left;
    width:190px;
    background:#fff;
    border-bottom:1px dotted #ccc;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
}
.bottom_c .bottom_dd_f{
    line-height:32px;
    color:#444444;
    font-size:12px;
}
.bottom_c dd div{
    position:relative;
}
.bottom_c dd div a{
    position:absolute;left:0;top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
}
.bottom_c dd .on a{
    display:block;
}
.bottom_c dd div a img{
    position:absolute;left:50%;top:50%;
    margin-left:-30px;
    margin-top:-30px;
}
.bottom_c dd div span{
    width:100%;
    position:absolute;left:0;bottom:0;
}
.bottom_c dd div span i{
    background:#000;
    opacity:0.7;
    filter:alpha(opacity:70);
    width:100%;
    height:100%;
    position:absolute;left:0;bottom:0;
}
.bottom_c dd div span em{
    line-height:22px;
    color:#fff;
    position:relative;
    z-index:3;
}
.bottom_pic{
    width:190px;
}
.bottom strong{
    position:absolute;right:0;top:68px;
    width:27px;
    line-height:76px;
    text-align:center;
    background:#fff;
    border:1px solid #e4e4e4;
    border-right:none;
}
.teamwork{
    width:1240px;
    margin:0 auto;
}
.teamwork h3{
    font-size:24px;
    line-height:24px;
}
.teamwork img{
    width:120px;
    height:50px;
    margin:15px 30px 15px 0;
}
.footer{
    width:1240px;
    margin:0 auto;
}
.footer div{
    width:430px;
    margin:0 auto;
    padding:60px 0 15px 0;
}
.footer p{
     width:680px;
     margin:0 auto;
 }
.footer p a{
    margin:0 17px 0 30px;
}
.footer a{
    color:#666666;
}
.footer a:hover{
     color:#00cc00;
 }


